transformers==4.39.3
tokenizers==0.15.2
huggingface-hub==0.36.2
safetensors==0.7.0
accelerate==1.13.0
librosa==0.11.0
soundfile==0.13.1
soxr==1.0.0
audioread==3.1.0
pooch==1.9.0
lazy_loader==0.5
numpy==1.26.4
scipy==1.15.3
pandas==2.3.3
numba==0.65.0
llvmlite==0.47.0
einops==0.8.2
einops-exts==0.0.4
munch==4.0.0
tqdm
PyYAML==6.0.3
matplotlib==3.10.8
python-dotenv==1.2.2
wandb==0.26.0
tensorboard==2.20.0
Cython==3.2.4